{% extends "base.html" %}
{% block title %}Записи сообщества {{group}}{% endblock %}
{% block content %} 
        <h1>Записи сообщества {{group}}</h1>
        <h3>{{group.description}}</h3>
        <article>
        {% for post in posts %}
          <ul>
            <li>
              Автор: {{ post.author.get_full_name }}
            </li>
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
          </ul>
          <p>{{ post.text }}</p>    
          {% if not forloop.last %}<hr>{% endif %}
        {% endfor %} 
        </article>
        {% endblock %}