{% extends "base.html" %}
{% block title %}Профайл пользователя {{author}}{% endblock %}
{% block content %}       
        <h1>Все посты пользователя {{author}} </h1>
        <h3>Всего постов: {{post_number}} </h3>   
          {% for post in page_obj%}
          <li>
            Автор: {{author}}
            <a href="{% url 'posts:profile' post.author %}"> все посты пользователя {{author}}</a>
          </li>
          <li>
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
          <p>{{ post.text }}</p> 
          <a href="{% url 'posts:post_detail' post.id %}">подробная информация </a>  
          {% if post.group %}   

            <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы {{ post.group.title }}</a>
            {% endif %}          
          {%endfor%}
        {% if not forloop.last %}<hr>{% endif %}
        {% include 'posts/includes/paginator.html' %}
{% endblock %}
